<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<!--Отредактируй код проета на Django, в котором уже есть регистрация, авторизация и профиль(прикрепляю файлы: БД, models, views, urls и все файлы html) Стили не используй.
В него нужно добавить возможность генерировать документы используя данные из базы и шаблоны файлов(перечислить их названия) и используй библиотеку docx template. Во встроенной админ-панели Django добавь возможность загружать шаблоны документов и редактировать данные в базе.